/*共通部分----------------------------------------*/
html {
    font-size: 100%;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/*HOME----------------------------------------*/
#home {
    background-image: url(../images/テニスコート.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*HEADER----------------------------------------*/
header {
    background-color: #fffac2;
    border-radius: 10px;
    margin-top: 15px;
}
.logo {
    height: 50px;
}
/*HOME-MAIN----------------------------------------*/
.home-main h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-top: 50px;
}
.home-main p {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 50px 0;
}
/*MENU----------------------------------------*/
.menu {
    text-align: center;
    margin-bottom: 50px;
}
.menu a {
    color: white;
    background-color: #0bd;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
}
/*INTRODUCTION----------------------------------------*/
#introduction {
    background-color: #eaf6fd;
}
/*INTRODUCTION-HEADER----------------------------------------*/
.introduction-header img {
    margin: 15px 0;
    background-size: cover;
    border-radius: 10px;
}
/*INTRODUCTION-OL----------------------------------------*/
.introduction-ol {
    background-image: url(../images/フェンス.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px 0 1px 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.introduction-li {
    display: flex;
    margin: 30px 100px;
}
.introduction-li p {
    background-color: #00acee;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}
.introduction-li span {
    color: red;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 30px;
    text-shadow: 0 2px white, 2px 2px white, 2px 0 white, 2px -2px white,
    0 -2px white, -2px -2px white, -2px 0 white, -2px 2px white;
}
@media (max-width: 991px) {
    .introduction-li {
        margin: 5px;
    }
    .introduction-li p {
        width: 50px;
        height: 50px;
        font-size: 25px;
        padding-top: 5px;
    }
    .introduction-li span {
        font-size: 13px;
        margin-left: 5px;
        text-shadow: 0 1px white, 1px 1px white, 1px 0 white, 1px -1px white,
        0 -1px white, -1px -1px white, -1px 0 white, -1px 1px white;    
    }    
}
/*CAMP----------------------------------------*/
.camp {
    display: flex;
    margin-bottom: 50px;
}
.camp img {
    width: 50%;
    padding: 0 10px;
}
@media (max-width: 991px) {
    .camp {
        display: block;
        margin-bottom: 35px;
    }
    .camp img {
        width: 100%;
        padding: 0px;
        margin-bottom: 15px;
    }    
}
/*FOOTER----------------------------------------*/
footer {
    background-color: #432;
    text-align: center;
    padding: 25px 0 15px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}
/*EVENT----------------------------------------*/
#event {
    background-image: url(../images/芝生.jpg);
}
/*EVENT-HEADER----------------------------------------*/
.event-header img {
    margin-top: 15px;
    background-size: cover;
    border-radius: 10px;
}
/*EVENT-LIST----------------------------------------*/
.event-list {
    margin: 0 1px 15px 1px;
}
.event-title {
    text-align: center;
    margin: 50px 0;
    background-color: white;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 100px;
}
.even-month {
    color: white;
    background-color: rgb(227, 176, 244);
    font-size: 25px;
    margin: 0;
}
.even-event {
    color: black;
    background-color: rgb(238, 215, 246);
    font-size: 25px;
    margin: 0;
}
.odd-month {
    color: white;
    background-color: rgb(85, 145, 196);
    font-size: 25px;
    margin: 0;
}
.odd-event {
    color: black;
    background-color: rgb(216, 231, 242);
    font-size: 25px;
    margin: 0;
}
/*EVENT-IMAGE----------------------------------------*/
.event-image {
    margin-bottom: 45px;
}
.event-image img {
    width: 33%;
    padding: 5px;
}
@media (max-width: 991px) {
    .event-image {
        margin-bottom: 35px;
    }
    .event-image img {
        width: 100%;
        padding: 0 0 15px 0;
    }
}
/*CONTACT----------------------------------------*/
#contact {
    background-color: #e2eba3;
}
/*FORM----------------------------------------*/
.form {
    background-image: url(../images/コンタクト.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px 0;
    border-radius: 10px;
}
.form h1 {
    color: yellow;
    font-weight: bold;
    text-shadow: 0 1px red, 1px 1px red, 1px 0 red, 1px -1px red,
    0 -1px red, -1px -1px red, -1px 0 red, -1px 1px red;
}
.line {
    margin-left: 10px;
    height: 200px;
}
form div {
    margin: 25px 0;
} 

label {
    font-size: 1.125rem;
    display: block;
    font-weight: bolder;
    text-shadow: 0 1px white, 1px 1px white, 1px 0 white, 1px -1px white,
    0 -1px white, -1px -1px white, -1px 0 white, -1px 1px white;
}
input[type="text"],
input[type="email"],
textarea {
    background-color: rgba(225, 225, 225, .5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 270px;
}
input[type="submit"] {
    margin: 10px 0 15px 0;
}
/*LOCATION----------------------------------------*/
#location {
    display: flex;
    justify-content: space-between;
}
.location-info h3 {
    border-bottom: 2px solid #00acee;
}
.location-info {
    width: 30%;
    padding: 50px;
}
.location-map {
    width: 70%;
    padding-top: 50px;
}
iframe {
    width: 100%;
}
@media (max-width: 991px) {
    #location {
        display: block;
        margin-top: 50px;
    }
    .location-info {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
    .location-map {
        width: 100%;
        padding: 0;
    }
    iframe {
        width: 100%;
    }
}
/*TWITTER----------------------------------------*/
.twitter {
    margin: 50px 110px 45px 110px;
    text-align: center;
}
.twitter h2 {
    border-bottom: 2px solid #00acee;
}
@media (max-width: 991px) {
    .twitter {
        margin: 50px 5px 45px 5px;
        text-align: center;
    }
    .twitter h2 {
        border-bottom: 2px solid #00acee;
    }    
}