/*共通部分----------------------------------------*/
html {
    font-size: 100%;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/*HEADER----------------------------------------*/
#home {
    background-image: url(../images/テニスコート.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: #fffac2;
    border-radius: 10px;
    margin-top: 15px;
}
.logo {
    height: 50px;
}
/*HOME-CONTENT----------------------------------------*/
.home-content h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-top: 50px;
}
.home-content p {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-top: 50px;
}
/*MENU----------------------------------------*/
.menu {
    text-align: center;
    margin-bottom: 50px;
}
.menu a {
    color: white;
    background-color: #0bd;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
}